.global-nav {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    height: 46px;
    position: relative;
    width: 100%;
}

.global-nav-inner {
    background: #fff;
    height: 46px;
    display:block;
    min-width:750px;
}

.nav {
    text-align: left;
}

    .nav li {
        float: left;
    }

.pull-right {
    float: right;
    text-align: right;
    display:inline-flex;
    height:100%;
    position:relative;
    z-index:5;
}

