<div class='global-nav'>
    <div class="global-nav-inner">


        <div class='container'>

            <div style="display:inline-block">
                <!-- navigation -->
                <ul class="nav js-global-actions" id="global-actions">

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon glyphicon-home'></span> Home
                        </a>
                    </li>

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/counter']">
                            <span class='glyphicon'></span> Counter
                        </a>
                    </li>

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/fetch-data']">
                            <span class='glyphicon'></span> Fetch data
                        </a>
                    </li>

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/list']">
                            <span class='glyphicon'></span> List Component
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pull-right" style="display:inline-block">

                <ul class="nav right-actions">

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon'></span> Home
                        </a>
                    </li>

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon'></span> Home
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


